/* Ensure smooth scrolling */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #000;
}

/* Style for the main app container */
.App {
  text-align: center;
}

/* Logo animation styles */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Header styles */
.App-header {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Link styles */
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Nav bar styles */
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 0 15px;
}

/* Ensure sections have enough padding to account for fixed navbar */
#home, #about, #experience, #contact {
  padding-top: -100px; /* Adjust if needed */
}

/* Footer styles
footer {
  background-color: #000;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: '100vw';
} */
